/*
=================================================
Variable Prefix
================================================= 
*/
$prefix: "hui";

/*
=================================================
Container
================================================= 
*/
$container-widths: (
	"sm": calc(576 - 60),
	"md": calc(768 - 66),
	"lg": calc(1024 - 66),
	"xl": calc(1366 - 66)
);

$container-padding: 20;

/*
=================================================
Breakpoints
================================================= 
*/
$breakpoints: (
	"sm": 576,
	"md": 768,
	"lg": 1024,
	"xl": 1366
);

$breakpoint-delimiter: "\\:";

/*
=================================================
Grid
================================================= 
*/
$grid-columns: 12;
$grid-rows: 6;

/*
=================================================
Font Face
================================================= 
*/
$font-family: "Inter";
$font-face-family: $font-family;
$font-face-style: "normal";
$font-face-file: "/fonts/#{$font-family}";
$font-face-format: "woff2";
$font-face-font-weight: (100, 200, 300, 400, 500, 600, 700, 800, 900);