/*
=================================================
Variable Prefix
================================================= 
*/
$prefix: "hui";

/*
=================================================
Container
================================================= 
*/
$container-widths: (
	// "sm": 744,
	// "md": 976,
	// "lg": 1294
	"sm": 768,
	"md": 1024,
	"lg": 1366
);

$padding-base: 20;

$padding-map: (
	"sm": 40,
	"md": 60,
	"lg": 70
);

/*
=================================================
Breakpoints
================================================= 
*/
$breakpoints: (
	"sm": 768,
	"md": 1024,
	"lg": 1366
);

$breakpoint-delimiter: "\\:";

/*
=================================================
Grid
================================================= 
*/
$grid-columns: 12;
$grid-rows: 6;

/*
=================================================
Font Face
================================================= 
*/
$font-family: "Inter";
$font-face-family: $font-family;
$font-face-style: "normal";
$font-face-file: "/fonts/#{$font-family}";
$font-face-format: "woff2";
$font-face-font-weight: (100, 200, 300, 400, 500, 600, 700, 800, 900);