/*
=================================================
Modules
================================================= 
*/
@use "@styles/base/settings" as *;
@use "@tools/mixins/utilities/utilities-space" as *;
@use "@styles/functions/token-prefix" as *;

/*
=================================================
Spacing
================================================= 
*/
$spacing-styles-map: (
  space-section: (
    margin-bottom: (
      base: token(space-lg-1),
      md: token(space-lg-3),
      lg: token(space-xl-1),
    )
  ),
);

@include utilities-space-styles($spacing-styles-map, $breakpoints);