/*
=================================================
Modules
================================================= 
*/
@use "@projectGetTools/mixins/layout/breakpoint" as *;
@use "@projectGetTools/functions/token-prefix" as *;

/*
=================================================
Main
================================================= 
*/
.main {

	.hero {
		&__content {
			border-bottom: 5px solid token(color-border-subtle);
		}
	}

	.card-row {
		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		&__item {
			margin: 0;
			padding: 0;
		}
	}
}