---

---
<footer class="footer">
	<div class="container">
		<div class="grid md:grid-col-2 md:g-md-5 g-md-1">
			<div class="footer__notice">
				<p class="footer__copyright">Developed by Burt Crismore</p>
				<p class="footer__divider">//</p>
				<a href="https://github.com/burtcrismore" target="_blank" class="footer__social footer__link">

					<!-- Create a component for FA icons (Icon.astro) -->

					<i class="fa-brands fa-github" role="img" aria-label="Github"></i>
					<span class="footer__social-label">Github</span>
				</a>
			</div>

			<div class="footer__update">
				<p class="footer__version">Beta v0.1.0</p>
				<p class="footer__divider">//</p>
				<a href="https://github.com/burtcrismore/helium-ui" target="_blank" class="footer__link">View Source Code</a>
			</div>
		</div>
	</div>
</footer>