/*
=================================================
Variable Prefix
================================================= 
*/
$prefix: "hui" !default;

/*
=================================================
Container
================================================= 
*/
$container-widths: (
	"sm": calc(576 - 60),
	"md": calc(768 - 66),
	"lg": calc(1024 - 66),
	"xl": calc(1366 - 66)
) !default;

$container-padding: 20 !default;

/*
=================================================
Breakpoints
================================================= 
*/
$breakpoints: (
	"sm": 576,
	"md": 768,
	"lg": 1024,
	"xl": 1366
) !default;

$breakpoint-delimiter: "\\:" !default;

/*
=================================================
Grid
================================================= 
*/
$grid-columns: 12 !default;
$grid-rows: 6 !default;

/*
=================================================
Font Face
================================================= 
*/
$font-family: "Inter" !default;
$font-face-family: $font-family !default;
$font-face-style: "normal" !default;
$font-face-file: "/fonts/#{$font-family}" !default;
$font-face-format: "woff2" !default;
$font-face-font-weight: (100, 200, 300, 400, 500, 600, 700, 800, 900) !default;