/*
=================================================
Modules
================================================= 
*/
@use "@projectGetTools/config" as *;
@use "@projectGetTools/mixins/tokens/tokens-space" as *;

/*
=================================================
Tokens
================================================= 
*/
$token-space-base: (
	"0": 0,
	"100": 2,
	"200": 4,
	"300": 6,
	"400": 8,
	"500": 10,
	"600": 12,
	"700": 14,
	"800": 16,
	"900": 18,
	"1000": 20,
	"1100": 26,
	"1200": 32,
	"1300": 38,
	"1400": 44,
	"1500": 50,
	"1600": 60,
	"1700": 70,
	"1800": 80,
	"1900": 90,
	"2000": 100,
	"2100": 112,
	"2200": 124,
	"2300": 136,
	"2400": 148,
	"2500": 160,
);

$token-space-alias: (
	"0": "0",
	"xsm-1": "100",
	"xsm-2": "200",
	"xsm-3": "300",
	"xsm-4": "400",
	"xsm-5": "500",
	"sm-1": "600",
	"sm-2": "700",
	"sm-3": "800",
	"sm-4": "900",
	"sm-5": "1000",
	"md-1": "1100",
	"md-2": "1200",
	"md-3": "1300",
	"md-4": "1400",
	"md-5": "1500",
	"lg-1": "1600",
	"lg-2": "1700",
	"lg-3": "1800",
	"lg-4": "1900",
	"lg-5": "2000",
	"xlg-1": "2100",
	"xlg-2": "2200",
	"xlg-3": "2300",
	"xlg-4": "2400",
	"xlg-5": "2500",
);

$token-space-name: "space";

@include tokens-space($prefix, $token-space-name, $token-space-base, $token-space-alias);